

.category-selection-header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;

    h1 {
        margin: 0 auto;
    }

    &.focused {
        max-height: 0;
        opacity: 0;
    }
}
.workout-title {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
}

.category-selection-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category-selection-header__title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h1 {
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
    }

    button {
        width: fit-content;
    }
}


.category-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-selection-container {
    width: 100%;
    overflow: hidden;
}

.category-wrapper {
    overflow: hidden;
    align-self: center;
    width: 100%;
    max-width: var(--max-context-width);
    margin: 0 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.category-card {

    transition: var(--transition-fast);

    &:hover {
        cursor: pointer;
        color: var(--color-accent);
        svg {
        fill: var(--color-accent);
        }
    }

}


.category-selection-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.category-selection-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    width: 100%;
}