






.exercises-container {
    display: flex;
    flex-direction: column;
    max-width: var(--max-context-width);
    margin: 0 auto;
    width: 100%;
}

.exercises-wrapper {
    max-width: var(--max-context-width);
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 1rem;

}

.exercise-card {

    transition: var(--transition-fast);

    &:hover {
        cursor: pointer;
        color: var(--color-accent);
        svg {
            fill: var(--color-accent);
        }
    }

}


.exercise-module {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.exercise-module-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    align-items: center;

    h3 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semi-bold);
    }

    svg {
        margin: 5px 0;
    }
}



.exercise-module-input {
    h4 {
        margin-left: 10px !important;
    }
    display: flex;

    input {
        display: flex;
        flex-shrink: 1;
        width: 100%;
        border: 2px solid transparent !important;

        transition: var(--transition-fast);
        &:focus {
            border: 2px solid var(--color-accent) !important;
        }
    }
}


.exercise-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    padding: 1rem 0;
    width: 100%;
    flex-shrink: 1;
    gap: 0.5rem;

    input {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: var(--color-text);
        outline: none;
        background-color: var(--color-surface);
        padding: 1rem;
        border-radius: var(--border-radius);
        flex-shrink: 1;
        display: flex;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance: textfield;
    }

    h4 {
        margin: 0;
    }
}

.index-row {
    border-radius: 50%;
    border: 1px solid var(--color-border);
    padding: 1rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    text-align: center;
}


.exercise-selection-wrapper {
    gap: 1rem;
    display: flex;
    flex-direction: column;

}



.exercise-module-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h3 {
        transition: var(--transition-fast);
        font-weight: var(--font-weight-semi-bold);
        margin: 1rem 0;
        width: 100%;
        &:hover {
            color: var(--color-accent);
            cursor: pointer;
            text-decoration: underline;
        }
    }
}


.exercise-module-input {
    display: flex;
    flex-direction: column;
}