


.carousel-wrapper {
    position: relative;
    overflow: hidden;
    margin: 5rem 0;
}

.carousel-inner {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: center;
    animation: marquee 60s linear infinite;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



