

.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 100%;
    justify-self: center;


    h1 {
        font-size: var(--text-4xl);
        color: var(--color-text-muted);
        font-weight: var(--font-weight-medium);
    }
}
