


.search-bar-wrapper {
    padding: 10px;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    background: var(--color-surface);
    border-radius: 0.5rem;
    transition: var(--transition-fast);
    flex-grow: 1;

    svg {
        transition: var(--transition-fast);
    }

    &:has(input:focus-within) {
        svg {
            fill: var(--color-accent);
        }
    }
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-text);
    flex-grow: 1;
}