



.slide-in-bottom-menu {
    border-top: 1px solid var(--color-border);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    z-index: 999;

    transform: translateY(100%);
    transition: transform var(--transition-slow) ease-in-out;
}

.slide-in-bottom-menu.show {
    transform: translateY(0%);
}